<%
exclude = assigns[:exclude] || []
%>

<div class="d-inline-block btn-group">
    <%= if :show not in exclude do %>
        <%= link gettext("View"), to: @path.(@conn, :show, @item), class: "btn btn-default btn-xs" %>
    <% end %>

    <%= if :edit not in exclude do %>
        <%= link gettext("Edit"), to: @path.(@conn, :edit, @item), class: "btn btn-default btn-xs" %>
    <% end %>

    <%= if :delete not in exclude do %>
        <%= link gettext("Delete"), to: @path.(@conn, :delete, @item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
    <% end %>
</div>
