<nav class="navbar">
    <!-- Logo Area -->
    <div class="navbar-header">
        <a href="index.html" class="navbar-brand">
            <img class="logo-expand" alt="" src="<%= static_path(@conn, "/images/logo-expand.png") %>">
            <img class="logo-collapse" alt="" src="<%= static_path(@conn, "/images/logo-collapse.png") %>">
            <!-- <p>BonVue</p> -->
        </a>
    </div>

    
    <!-- Left Menu & Sidebar Toggle -->
    <ul class="nav navbar-nav">
        <li class="sidebar-toggle"><a href="javascript:void(0)" class="ripple"><i class="feather feather-menu list-icon fs-20"></i></a>
        </li>
    </ul>

    <div class="spacer"></div>
    
    <!-- Button: Create New -->
    <div class="btn-list dropdown d-none d-md-flex mr-4 mr-0-rtl ml-4-rtl"><a href="javascript:void(0);" class="btn btn-primary dropdown-toggle ripple" data-toggle="dropdown"><i class="feather feather-plus list-icon"></i> Create New</a>
        <div class="dropdown-menu dropdown-left animated flipInY"><span class="dropdown-header">Create new ...</span> <a class="dropdown-item" href="#">Projects</a> <a class="dropdown-item" href="#">User Profile</a> <a class="dropdown-item" href="#"><span class="d-flex align-items-end"><span class="flex-1">To-do Item</span> <span class="badge badge-pill bg-primary-contrast">7</span> </span></a>
            <a class="dropdown-item" href="#"><span class="d-flex align-items-end"><span class="flex-1">Mail</span>  <span class="badge badge-pill bg-color-scheme-contrast">23</span></span>
            </a>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><span class="d-flex align-items-center"><span class="flex-1">Settings</span> <i class="feather feather-settings list-icon icon-muted"></i></span></a>
        </div>
    </div>


    
    

    <!-- Right Menu -->
    <ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">

        <!-- /.Notification dropdown -->
        <li class="dropdown"><a href="#" class="dropdown-toggle ripple" data-toggle="dropdown"><i class="feather feather-settings list-icon"></i></a>
            <div class="dropdown-menu dropdown-left dropdown-card animated flipInY">
                <div class="card">
                    <header class="card-header d-flex justify-content-between mb-0"><a href="javascript:void(0);"><i class="feather feather-bell color-color-scheme" aria-hidden="true"></i></a> <span class="heading-font-family flex-1 text-center fw-400">Notifications</span> <a href="javascript:void(0);"><i class="feather feather-settings color-content"></i></a>
                    </header>
                    <ul class="card-body list-unstyled dropdown-list-group">
                        <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">check</i> </span><span class="media-body"><span class="heading-font-family media-heading">Invitation accepted</span> <span class="media-content">Your have been Invited ...</span></span></a>
                        </li>
                        <li><a href="#" class="media"><span class="d-flex thumb-xs"><img src="assets/demo/users/user3.jpg" class="rounded-circle" alt=""> </span><span class="media-body"><span class="heading-font-family media-heading">Steve Smith</span> <span class="media-content">I slowly updated projects</span> <span class="user--online float-right"></span></span></a>
                        </li>
                        <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">event_available</i> </span><span class="media-body"><span class="-heading-font-family media-heading">To Do</span> <span class="media-content">Meeting with Nathan on Friday 8 AM ...</span></span></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-list-group -->
                    <footer class="card-footer text-center"><a href="javascript:void(0);" class="headings-font-family text-uppercase fs-13">See all activity</a>
                    </footer>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.dropdown-menu -->
        </li>

    </ul>
    <!-- /.navbar-right -->


    <!-- User Image with Dropdown -->
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown">
                <span class="avatar thumb-xs2">
                    <img src="<%= static_path(@conn, "/images/user1.jpg") %>" class="rounded-circle" alt="">
                    <i class="feather feather-chevron-down list-icon"></i>
                </span>
            </a>
            
            <div class="dropdown-menu dropdown-left dropdown-card dropdown-card-profile animated flipInY">
                <div class="card">
                    <ul class="list-unstyled card-body">
                        <li><a href="<%= profile_path(@conn, :profile) %>"><span><span class="align-middle"><%= gettext "Profile" %></span></span></a>
                        </li>
                        <li><a href="<%= profile_path(@conn, :change_password) %>"><span><span class="align-middle"><%= gettext "Change Password" %></span></span></a>
                        </li>
                        <li><a href="<%= session_path(@conn, :delete) %>"><span><span class="align-middle">Sign Out</span></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>
