<aside class="site-sidebar scrollbar-enabled" data-suppress-scroll-x="true">
    <!-- User Details -->
    <div class="side-user">
        <div class="col-sm-12 text-center p-0 clearfix">
            <div class="d-inline-block pos-relative mr-b-10">
                <figure class="thumb-sm mr-b-0 user--online">
                    <img src="<%= static_path(@conn, "/images/user1.jpg") %>" class="rounded-circle" alt="">
                </figure><a href="page-profile.html" class="text-muted side-user-link"><i class="feather feather-settings list-icon"></i></a>
            </div>
            <!-- /.d-inline-block -->
            <div class="lh-14 mr-t-5">
                <a href="<%= profile_path(@conn, :profile) %>" class="hide-menu mt-3 mb-0 side-user-heading fw-500"><%= full_name(@conn.assigns[:current_user]) %></a>
            </div>
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.side-user -->

    <!-- Sidebar Menu -->
    <nav class="sidebar-nav">
        <ul class="nav in side-menu">
            <li class="menu-item-has-children <%= nav_state(@conn, [FlowWeb.UserController, FlowWeb.CompanyController, FlowWeb.DepartmentController]) %>">
                <a href="javascript:void(0);">
                    <i class="list-icon feather feather-command"></i>
                    <span class="hide-menu"><%= gettext("Organization") %></span>
                </a>

                <ul class="list-unstyled sub-menu">
                    <li><a href="<%= company_path(@conn, :show) %>"><%= gettext("Company profile") %></a></li>
                    <li><a href="<%= department_path(@conn, :index) %>"><%= gettext("Teams") %></a></li>
                    <li><a href="<%= user_path(@conn, :index) %>"><%= gettext("Staffs") %></a></li>
                </ul>
            </li>
        </ul>


        <!-- /.side-menu -->
    </nav>

    <!-- /.sidebar footer -->
    <div class="sidebar-module nav-contact-info mx-3 mt-4 mb-3">
        <div class="d-flex flex-column align-items-center">
            <h6 class="mb-2 fs-14"><%= gettext "Need Help" %></h6><i class="feather feather-bell fs-24 color-color-scheme"></i>
        </div>
        <div class="contact-info-body bg-content-color-contrast text-center">
            <p class="lh-25 headings-font-family">+1 888 543 7432
                <br>hello@website.com
                <br><a href="#">Visit FAQ</a>
            </p>
        </div>
    </div>

</aside>
