<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= static_path(@conn, "/images/favicon.png") %>">

        <title>Default</title>
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
        <link href="<%= static_path(@conn, "/css/app.css") %>" rel="stylesheet" type="text/css">
        <%= raw(render_existing(view_module(@conn), "styles." <> view_template(@conn), assigns)) %>
        <!-- Head Libs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>

    <body class="header-dark sidebar-light sidebar-expand">
        <div id="wrapper" class="wrapper">
            <!-- HEADER & TOP NAVIGATION -->
            <%= render "_header.html", assigns %>

            <!-- /.navbar -->
            <div class="content-wrapper">
                <!-- SIDEBAR -->
                <%= render "_sidebar.html", assigns %>
                <!-- /.site-sidebar -->
                <main class="main-wrapper clearfix">
                    <%= render @view_module, @view_template, assigns %>
                </main>
                <!-- /.main-wrappper -->
                <!-- RIGHT SIDEBAR -->

                <%# render "_right_sidebar.html", assigns %>

                <!-- CHAT PANEL -->
               <%#  render "_chat_panel.html", assigns %>
                <!-- /.chat-panel -->
            </div>
            <!-- /.content-wrapper -->
            <!-- FOOTER -->
            <footer class="footer"><span class="heading-font-family">Develped by <a href="mailto:bluesky.1289@gmail.com">Kaoson</a> </span>
            </footer>
        </div>
        <!--/ #wrapper -->
        <!-- Scripts -->

        <div id="snackbar">
        </div>

        <script src="<%= static_path(@conn, "/js/commons.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/js/perfect-scrollbar.jquery.js"></script>
        <!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.2/countUp.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/1.1.1/mithril.js"></script> -->

        <%= raw(render_existing(view_module(@conn), "scripts." <> view_template(@conn), assigns)) %>
    </body>

</html>
