<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <div class="row">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-6">
                  <%= input f, :first_name, label: gettext("First name") %>
              </div>
              <div class="col-md-6">
                  <%= input f, :last_name, label: gettext("Last name") %>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                  <%= input f, :username, label: gettext("User name") %>
              </div>
              <div class="col-md-6">
                  <%= input f, :password, label: gettext("Password"), required: false %>  
              </div>
          </div>

          <%= input f, :email, label: gettext("Email") %>
          <%= input f, :phone, label: gettext("Phone number") %>

          <%= input f, :department_id, using: :select2, source: Enum.map(@departments, &{&1.name, &1.id}), label: gettext("Department") %>
          <%= input f, :roles, using: :select2, source: User.role_input_enum(), multiple: true, label: gettext("User roles") %>
          <%= input f, :status, using: :select2, source: User.status_input_enum(), label: gettext("Status") %>
      </div>
      <div class="col-md-6">
          <div class="mr-l-20">
              <label><%= gettext "Avatar" %></label>
              <div>
                  <figure class="thumb-lg">
                      <img src="http://localhost:4001/images/user1.jpg"/>
                  </figure>
              </div>
              <label for="user_avatar" class="btn btn-sm btn-outline-default mr-t-20"><%= gettext "Change avatar" %></label>
              <%= input f, :avatar, using: :file_input, label: false, class: "d-none" %>
          </div>
      </div>
  </div>

  <div class="form-group">
      <%= submit(class: "btn btn-primary") do %>
          <i class="material-icons mr-r-5">done</i>
          <%= gettext("Save") %>
      <% end %>
  </div>
<% end %>
