<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5"><%= gettext "User users" %></h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= user_path(@conn, :new) %>" class="btn btn-color-scheme btn-sm ripple">
                <%= gettext "Create user account" %>
            </a>
        </div>
    </div>
    <!-- /.page-title-right -->
</div>

<%= render_share_view "_alert.html", assigns %>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border d-block">
                    <div class="pd-t-20 filter-bar d-flex">

                        <form class="d-flex">
                            <div class="form-group">
                                <label for=""><%= gettext "Name/email" %></label>
                                <input type="text" name="keyword" class="form-control" value="<%= @conn.params["keyword"] %>">
                            </div>

                            <div class="form-group">
                                <label for=""><%= gettext "Department" %></label>
                                <select class="form-control" name="department_id">
                                    <%= render_options(Enum.map(@departments, &{&1.name, &1.id}), @conn.params["department_id"]) %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for=""><%= gettext "Role" %></label>
                                <select class="form-control" name="roles">
                                    <%= render_options(User.role_input_enum(), @conn.params["roles"]) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for=""><%= gettext "Status" %></label>
                                <select class="form-control" name="status">
                                    <%= render_options(User.status_input_enum(), @conn.params["status"]) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit"><%= gettext "Filter" %></button>
                            </div>
                        </form>

                        <!-- /.mail-inbox-tools -->
                        <div class="flex-1"></div>
                        <div class="text-right form-group">

                        </div>
                    </div>
                </div>
                <div class="widget-body clearfix">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th><%= gettext "Full name" %></th>
                                <th><%= gettext "Department" %></th>
                                <th><%= gettext "Contact" %></th>
                                <th><%= gettext "Role" %></th>
                                <th><%= gettext "Status" %></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= for user <- @users do %>
                                <tr>
                                    <td><%= user.id %></td>
                                    <td class="thumb-xs2"><img class="rounded-circle" src="<%= user.avatar %>"></td>
                                    <td class="font-weight-bold">
                                        <a href="<%= user_path(@conn, :show, user) %>" class><%= user.last_name %> <%= user.first_name %></a>
                                        <div><small>@<%= user.username %></small></div>
                                    </td>
                                    <td>
                                        <%= if user.department_id do %>
                                            <a href="<%= user_path(@conn, :index, department_id: user.department_id) %>"><%= user.department.name %></a>
                                        <% end %>
                                    </td>
                                    <td>
                                        <i class="feather feather-mail mr-2"></i> <%= user.email %><br/>
                                        <i class="feather feather-phone mr-2"></i> <%= user.phone %><br/>
                                    </td>
                                    <td>
                                        <%= for item <- user.roles do %>
                                            <span class="badge badge-pill bg-light color-dark">
                                                <%= item %>
                                            </span>
                                        <% end %>
                                    </td>
                                    <td><%= status_text(user.status) %></td>
                                    <td class="text-right">
                                        <%= render_share_view("_actions.html", assigns, path: &user_path/3, item: user, exclude: [:show, :delete]) %>
                                        <%= if user.status == User.status_active do %>
                                            <%= link gettext("Block"), to: user_path(@conn, :block, user), method: :put, data: [confirm: gettext("Are you sure?")], class: "btn btn-danger btn-xs" %>
                                        <% else %>
                                            <%= link gettext("Unblock"), to: user_path(@conn, :unblock, user), method: :put, data: [confirm: gettext("Are you sure?")], class: "btn btn-info btn-xs" %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                    <hr/>
                    <%= render_share_view("_pagination.html", assigns) %>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>
