<div class="row page-title clearfix">

    <div class="page-title-left">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= user_path(@conn, :index) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-chevron-left"></i>
                <%= gettext "Back" %>
            </a>
        </div>
    </div>


    <div class="page-title-right">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= user_path(@conn, :new) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-plus"></i>
                <%= gettext "Create user account" %>
            </a>
        </div>
    </div>

</div>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border">
                    <h5 class="widget-title"><%= gettext "Account details" %></h5>
                    <div class="flex-1"></div>
                    <div class="text-right"><a href="<%= user_path(@conn, :edit, @user) %>" class="btn btn-xs btn-outline-secondary"> <i class="material-icons mr-1">mode_edit</i> <%= gettext "Edit" %></a>
                    </div>
                </div>

                <div class="widget-body clearfix">
                    <div class="contact-details-profile">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext("First name") %></small>
                                    <span><%= @user.first_name %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Last name" %></small>
                                    <span><%= @user.last_name %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Username" %></small>
                                    <span><%= @user.username %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Email" %></small>
                                    <span><%= @user.email %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Phone number" %></small>
                                    <span><%= @user.phone %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Department" %></small>
                                    <span>
                                        <%= if @user.department_id do %>
                                            <a href="<%= department_path(@conn, :show, @user.department_id) %>">
                                                <%= @user.department.name %>
                                            </a>
                                        <% else %>
                                            <span class="text-muted"><%= gettext "No department" %></span>
                                        <% end %>

                                    </span>
                                </div>
                                
                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Roles" %></small>
                                    <span>
                                        <%= for item <- @user.roles do %>
                                            <span class="badge badge-pill badge-info"><%= item %></span>
                                        <% end %>
                                    </span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-bold"><%= gettext "Status" %></small>
                                    <span><%= status_badge(@user.status) %></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mr-l-20">
                                    <div>
                                        <figure class="thumb-lg">
                                            <img alt="<%= @user.first_name %>" src="http://localhost:4001/images/user1.jpg"/>
                                        </figure>
                                    </div>

                                    <label><%= @user.last_name %> <%= @user.first_name %></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>
