// main: ../style.scss
/********************************
 *********************************
Tables
 *********************************
 *********************************/
.table {

  thead tr.thead-inverse th {
    background: inherit;
  }

  &.table-inverse thead th {
    border-width: 0;
  }

  > tbody > tr:first-child > td {
    border-top: none;
  }

  &.table-borderless {
    td, th {
      border: none;
    }
  }

  > tbody > tr[class*="bg-"] > td {
    color: #fff;
  }

  > thead > tr > th {
    border-bottom-width: 1px;
    border-top-width: 0px;
  }

  &.color-table > thead > tr > th {
    border: 0;
  }

  .progress {
    margin: 0;
    margin-bottom: 0 !important;
    position: relative;
    top: em(8,12);
  }

}

.table, .table-bordered {
  &,
  > tbody > tr > td,
  > thead > tr > th,
  > tbody > tr > th {
    border-color: $theme-border-color;
  }
}


.filter-bar{
	  display: flex;

	  .form-group{
        margin-bottom: 0;
        
		    &:not(:first-child){
			      margin-left: 5px;
		    }

		    label{
			      margin-bottom: 0;
			      font-size: 0.8em;
		    }

		    .btn{
			      margin-top: 24px;
		    }
	  }
}
