/********************************
*********************************
HELPER CLASSES
*********************************
*********************************/

/* Colors
========================*/
@each $col, $val in $theme-colors {
  .progress-bar-#{$col},
	.bg-#{$col} {
		background-color: $val !important;
		border-color: $val !important;
    color: #fff;
	}

	.bg-#{$col}-dark {
		background-color: darken($val, 10%);
		border-color: darken($val, 10%);
	}

	.bg-#{$col}-light {
		background-color: lighten($val, 15%);
		border-color: lighten($val, 15%);
	}

  .bg-#{$col}-contrast {
    background-color: rgba($val,.1);
    color: $val;
  }

  a.bg-#{$col}-contrast:hover {
    background: $val;
  }

  %color-#{$col},
	.color-#{$col},
	.color-hover-#{$col}:hover,
	.text-#{$col} {
		color: $val !important;
	}

	.border-color-#{$col} {
		border-color: $val !important;
	}
}

@each $col, $val in $colors {
  .badge-#{$col},
  .progress-bar-#{$col},
	.bg-#{$col} {
		background-color: $val !important;
		border-color: $val;
	}

	.bg-#{$col}-dark {
		background-color: darken($val, 10%);
		border-color: darken($val, 10%);
	}

	.bg-#{$col}-light {
		background-color: lighten($val, 15%);
		border-color: lighten($val, 15%);
	}

	.color-#{$col},
	.color-hover-#{$col}:hover,
	.text-#{$col} {
		color: $val !important;
    h1,h2,h3,h4,h5,h6 { color: $val !important; }
	}

	.border-color-#{$col} {
		border-color: $val !important;
	}
}

.bg-none {
  background: none !important;
}

/* Basic
========================*/
@mixin hidden {display: none}
%block, .block {display: block}
%inline, .inline {display: inline}
%inline-block, .inline-block {display: inline-block}

%overflow-hidden, .overflow-hidden {overflow: hidden}
%overflow-scroll, .overflow-scroll {overflow: scroll}
%overflow-auto, .overflow-auto {overflow: auto}

%pre, .pre {white-space: pre}
%nowrap, .nowrap {white-space: nowrap}
%resize-none, .resize-none {resize: none}
%resize-vertical, .resize-vertical {resize: vertical}
%resize-horizontal, .resize-horizontal {resize: horizontal}
%cursor-pointer, .cursor-pointer {cursor: pointer}
%no-pointer-events, .no-pointer-events { pointer-events: none}
%border-0, .border-0 {border: 0;}
%vertical-middle, .vertical-middle { vertical-align: middle !important }

%disabled,
.disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

%fullscreen,
.fullscreen {
	min-height: 100vh;
	min-width: 100%;
}

%scroll-horizontal,
.scroll-horizontal {
	overflow-x: scroll;
	overflow-y: hidden;
}

%scroll-vertical,
.scroll-vertical {
	overflow-x: hidden;
	overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
}


/* Position
========================*/
%pos-static, .pos-static {position: static}
%pos-fixed, .pos-fixed {position: fixed}
%pos-relative, .pos-relative {position: relative}
%pos-absolute, .pos-absolute {position: absolute}
%pos-top, .pos-top {top: 0}
%pos-right, .pos-right {right: 0}
%pos-left, .pos-left {left: 0}
%pos-bottom, .pos-bottom {bottom: 0}
%pos-left, .pos-left {left: 0}
%pos-0, .pos-0 {
  @extend .pos-absolute;
  @extend .pos-left;
  @extend .pos-right;
  @extend .pos-bottom;
  @extend .pos-top;
}

%horizontal-center,
.horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

%vertical-center,
.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

%absolute-center,
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Opacity
=========================*/
%opacity-0 , .opacity-0-hover:hover,  .opacity-0  {opacity: 0}
%opacity-01, .opacity-01-hover:hover, .opacity-01 {opacity: 0.1}
%opacity-02, .opacity-02-hover:hover, .opacity-02 {opacity: 0.2}
%opacity-03, .opacity-03-hover:hover, .opacity-03 {opacity: 0.3}
%opacity-04, .opacity-04-hover:hover, .opacity-04 {opacity: 0.4}
%opacity-05, .opacity-05-hover:hover, .opacity-05 {opacity: 0.5}
%opacity-06, .opacity-06-hover:hover, .opacity-06 {opacity: 0.6}
%opacity-07, .opacity-07-hover:hover, .opacity-07 {opacity: 0.7}
%opacity-08, .opacity-08-hover:hover, .opacity-08 {opacity: 0.8}
%opacity-09, .opacity-09-hover:hover, .opacity-09 {opacity: 0.9}
%opacity-1 , .opacity-1-hover:hover,  .opacity-1  {opacity: 1}


/* Width
=========================*/
%width-100, .width-100 {width: 100%}
%width-80 , .width-80 {width: 80%}
%width-75 , .width-75 {width: 75%}
%width-67 , .width-67 {width: 66.66666666666667%}
%width-50 , .width-50 {width: 50%}
%width-33 , .width-33 {width: 33.33333333333333%}
%width-25 , .width-25 {width: 25%}
%width-20 , .width-20 {width: 20%}

/* Font Weight
========================*/
@for $i from 1 through 9 {
  %flex-#{$i},
  .flex-#{$i} { flex: 1 }
}

/* Font Weight
========================*/
@for $i from 1 through 9 {
  %fw-#{$i}00,
	.fw-#{$i}00 {
		font-weight: #{$i * 100} !important;
	}
}
%fw-normal, .fw-normal {font-weight: $font-weight-normal;}
%fw-medium, .fw-medium{font-weight: $font-weight-medium;}
%fw-semibold, .fw-semibold{font-weight: $font-weight-semibold;}
%fw-bold, .fw-bold{font-weight: $font-weight-bold;}
%italic, .italic {font-style: italic;}

.text-indent-full {
  text-indent: -9999px;
}

/* Z Index
========================*/
@for $i from 1 through 9 {
  %zi-#{$i},
	.zi-#{$i} {
		z-index: #{$i} !important;
	}
}
.zi-n-1 {
  z-index: -1 !important;
}

/* Font Size

/* Text Helpers 
========================*/
.text-underline {
  text-decoration: underline;
}


/* Border Helpers
=========================*/
%border-left, .border-left { border-left: $border-width solid $theme-border-color !important}
%border-top, .border-top { border-top: $border-width solid $theme-border-color  !important}
%border-right, .border-right { border-right: $border-width solid $theme-border-color  !important}
%border-bottom, .border-bottom{ border-bottom: $border-width solid $theme-border-color  !important}
%border-left-rtl, body.rtl .border-left-rtl { border-left: $border-width solid $theme-border-color  !important}
%border-top-rtl, body.rtl .border-top-rtl { border-top: $border-width solid $theme-border-color  !important}
%border-right-rtl, body.rtl .border-right-rtl { border-right: $border-width solid $theme-border-color  !important}
%border-bottom-rtl, body.rtl .border-bottom-rtl { border-bottom: $border-width solid $theme-border-color  !important}
%border-all, .border-all {
  @extend .border-left;
  @extend .border-right;
  @extend .border-top;
  @extend .border-bottom;
}

/* Border Width
=========================*/
@for $i from 0 through 10 {
    .bw-#{$i}{
        border-width: #{$i}px !important;
    }
}

/* Border Radius
=========================*/
%radius-0, .radius-0 { border-radius: 0; }
%radius-full, .radius-full { border-radius: 100%; }
@for $i from 2 through 20 {
	%radius-#{$i}, .radius-#{$i} {
		border-radius: #{$i}px !important;
    overflow: hidden;
	}
}

/* Padding & Margin
=========================*/
%padded-reverse, .padded-reverse {	margin: 0 -20px}

%mr-lr-auto, .mr-lr-auto {
	margin-left: auto;
	margin-right: auto;
}

$num-list: 0 5 10 20 30 40 50 60 70 80 90 100 150 200;
@each $current-num in $num-list {

	body.rtl .pd-t-#{$current-num}-rtl,
	body.rtl .pd-tb-#{$current-num}-rtl,
	%pd-t-#{$current-num},
	%pd-tb-#{$current-num},
	.pd-t-#{$current-num},
	.pd-tb-#{$current-num} {
		padding-top: #{$current-num/16}rem !important;
	}

	body.rtl .pd-b-#{$current-num}-rtl,
	body.rtl .pd-tb-#{$current-num}-rtl,
	%pd-b-#{$current-num},
	%pd-tb-#{$current-num},
	.pd-b-#{$current-num},
	.pd-tb-#{$current-num} {
		padding-bottom: #{$current-num/16}rem !important;
	}

	body.rtl .pd-#{$current-num}-rtl,
	%pd-#{$current-num},
	.pd-#{$current-num} {
		padding: #{$current-num/16}rem !important;
	}

	body.rtl .mr-t-#{$current-num}-rtl,
	body.rtl .mr-tb-#{$current-num}-rtl,
	%mr-t-#{$current-num},
	%mr-tb-#{$current-num},
	.mr-t-#{$current-num},
	.mr-tb-#{$current-num} {
		margin-top: #{$current-num/16}rem !important;
	}

	body.rtl .mr-b-#{$current-num}-rtl,
	body.rtl .mr-tb-#{$current-num}-rtl,
	%mr-b-#{$current-num},
	%mr-tb-#{$current-num},
	.mr-b-#{$current-num},
	.mr-tb-#{$current-num} {
		margin-bottom: #{$current-num/16}rem !important;
	}

	body.rtl .mr-#{$current-num}-rtl,
	%mr-#{$current-num},
	.mr-#{$current-num} {
		margin: #{$current-num/16}rem !important;
	}
}

$num-list: 0 5 10 15 20 30 40 50 60 70 80 90;
@each $current-num in $num-list {

	body.rtl .pd-l-#{$current-num}-rtl,
	body.rtl .pd-lr-#{$current-num}-rtl,
	%pd-l-#{$current-num},
	%pd-lr-#{$current-num},
	.pd-l-#{$current-num},
	.pd-lr-#{$current-num} {
		padding-left: #{$current-num/16}rem !important;
	}

	body.rtl .pd-r-#{$current-num}-rtl,
	body.rtl .pd-lr-#{$current-num}-rtl,
	%pd-r-#{$current-num},
	%pd-lr-#{$current-num},
	.pd-r-#{$current-num},
	.pd-lr-#{$current-num} {
		padding-right: #{$current-num/16}rem !important;
	}

	body.rtl .mr-l-#{$current-num}-rtl,
	body.rtl .mr-lr-#{$current-num}-rtl,
	%mr-l-#{$current-num},
	%mr-lr-#{$current-num},
	.mr-l-#{$current-num},
	.mr-lr-#{$current-num} {
		margin-left: #{$current-num/16}rem !important;
	}

	body.rtl .mr-r-#{$current-num}-rtl,
	body.rtl .mr-lr-#{$current-num}-rtl,
	%mr-r-#{$current-num},
	%mr-lr-#{$current-num},
	.mr-r-#{$current-num},
	.mr-lr-#{$current-num} {
		margin-right: #{$current-num/16}rem !important;
	}
}



/* Width Helpers 
=========================*/
@for $i from 1 through 10 {
  .w-#{$i * 10} { width: #{ $i * 10 }% !important }
}
