
#snackbar{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 250px;
    overflow-y: hidden;
}

.snack-item {
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    z-index: 1; /* Add a z-index if needed */
    margin-bottom: -100%;
}

.snack-item.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.snack-item.info{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.snack-item.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snack-item.show {
    visibility: visible; /* Show the snackbar */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    margin-bottom: 20px;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
    from {margin-bottom: -100%; opacity: 0;}
    to {margin-bottom: 20px; opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
