<div class="row page-title clearfix">
    <!-- /.page-title-left -->
    <div class="page-title-left">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= profile_path(@conn, :profile) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-chevron-left"></i>
                <%= gettext "Back" %>
            </a>
        </div>
    </div>
    <!-- /.page-title-right -->
</div>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border">
                    <h5 class="widget-title"><%= gettext "Change password" %></h5>
                </div>

                <div class="widget-body clearfix">
                    <%= form_for @changeset, profile_path(@conn, :update_password), fn f -> %>
                        <%= if @changeset.action do %>
                            <div class="alert alert-danger">
                                <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
                            </div>
                        <% end %>

                        <%= input f, :current_password, using: :password_input, label: gettext("Password") %>
                        <%= input f, :password, using: :password_input, label: gettext("New password") %>
                        <%= input f, :password_confirmation, using: :password_input, label: gettext("New password confirmation") %>

                        <div class="form-group">
                            <%= submit(class: "btn btn-primary") do %>
                                <i class="material-icons mr-r-5">done</i>
                                <%= gettext("Save") %>
                            <% end %>
                        </div>
                    <% end %>

                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>
