<div class="row page-title clearfix">
    <!-- /.page-title-left -->
    <div class="page-title-left">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= profile_path(@conn, :show) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-chevron-left"></i>
                <%= gettext "Back" %>
            </a>
        </div>
    </div>
    <!-- /.page-title-right -->
</div>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border">
                    <h5 class="widget-title"><%= gettext "Edit Profile" %></h5>
                </div>

                <div class="widget-body clearfix">
                    <%= form_for @changeset, profile_path(@conn, :update_profile), [multipart: true], fn f -> %>
                        <%= if @changeset.action do %>
                            <div class="alert alert-danger">
                                <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
                            </div>
                        <% end %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= input f, :first_name %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= input f, :last_name %>  
                                    </div>
                                </div>
                                <%= input f, :username %>
                                <%= input f, :phone %>
                                <%= input f, :address, using: :textarea, rows: 3 %>
                                <%= input f, :dob, using: :datepicker, format: "{0D}/{0M}/{YYYY}",  data: ["plugin-options": "{\"autoclose\": true, \"format\": \"dd/mm/yyyy\"}"] %>
                                <%= input f, :start_date, using: :datepicker, format: "{0D}/{0M}/{YYYY}",  data: ["plugin-options": "{\"autoclose\": true, \"format\": \"dd/mm/yyyy\"}"] %>
                            </div>

                            <div class="col-md-6">
                                <div class="mr-l-20">
                                    <label><%= gettext "Avatar" %></label>
                                    <div>
                                        <figure class="thumb-lg">
                                            <img alt="<%= @user.first_name %>" src="http://localhost:4001/images/user1.jpg"/>
                                        </figure>
                                    </div>
                                    <label for="user_avatar" class="btn btn-sm btn-outline-default mr-t-20"><%= gettext "Change avatar" %></label>
                                    <%= input f, :avatar, using: :file_input, label: false, class: "d-none" %>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= submit(class: "btn btn-primary") do %>
                                <i class="material-icons mr-r-5">done</i>
                                <%= gettext("Save") %>
                            <% end %>
                        </div>
                    <% end %>

                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>
