<div class="row container-min-full-height align-items-center">
            <div class="col-10 ml-sm-auto col-sm-6 col-md-4 ml-md-auto login-center login-center-mini mx-auto">
                <div class="navbar-header text-center mb-3">
                    <a href="index.html">
                        <img alt="" src="<%= static_path(@conn, "/images/logo-expand.png") %>">
                    </a>
                </div>
                <!-- /.navbar-header -->
                <form class="form-material">
                    <p class="text-center text-muted">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                    <div class="form-group no-gutters">
                        <input placeholder="johndoe@site.com" class="form-control form-control-line" name="example-email" id="example-email" type="email">
                        <label for="example-email" class="col-md-12 mb-1">Email</label>
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600" type="button">Submit</button>
                    </div>
                </form>
                <!-- /.form-material -->
                <footer class="col-sm-12 text-center">
                    <hr>
                    <p>Back to <a href="page-login.html" class="text-primary m-l-5"><b>Login</b></a>
                    </p>
                </footer>
            </div>
            <!-- /.login-right -->
        </div>
