<div class="row page-title clearfix">
                <div class="page-title-left">
                    <h6 class="page-title-heading mr-0 mr-r-5"><%= gettext "Your Profile" %></h6>
                </div>
                <!-- /.page-title-left -->
                <div class="page-title-right d-none d-sm-inline-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= page_path(@conn, :index) %>">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Your Profile</li>
                    </ol>
                </div>
                <!-- /.page-title-right -->
</div>

<%= render_share_view("_alert.html", assigns) %>

<div class="widget-list">
    <div class="row">
        <!-- Tabs Content -->
        <div class="col-12 col-md-12 mr-b-30">
            <div class="widget-holder">
                <div class="widget-bg">
                    <div class="widget-body">
                        <div class="contact-details-profile">
                            <div class="d-flex mr-b-20">
                                <h5 class="mr-0"><%= gettext "Personal Profile" %></h5>
                                <div class="flex-1"></div>
                                <div>
                                    <a href="<%= profile_path(@conn, :edit_profile) %>" class="btn btn-xs btn-outline-secondary"> <i class="material-icons md-18 mr-1">mode_edit</i> <%= gettext "Edit" %></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext("First name") %></small>
                                        <span><%= @user.first_name %></span>
                                    </div>

                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext "Last name" %></small>
                                        <span><%= @user.last_name %></span>
                                    </div>

                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext "Username" %></small>
                                        <span><%= @user.username %></span>
                                    </div>

                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext "Email" %></small>
                                        <span><%= @user.email %></span>
                                    </div>

                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext "Phone number" %></small>
                                        <span><%= @user.phone %></span>
                                    </div>

                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext "Roles" %></small>
                                        <span>
                                            <%= for item <- @user.roles do %>
                                                <span class="badge badge-pill badge-info"><%= item %></span>
                                            <% end %>
                                        </span>
                                    </div>

                                    <div class="contact-details-cell">
                                        <small class="heading-font-family fw-bold"><%= gettext "Status" %></small>
                                        <span><%= status_text(@user.status) %></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mr-l-20">
                                        <div>
                                            <figure class="thumb-lg">
                                                <img alt="<%= @user.first_name %>" src="http://localhost:4001/images/user1.jpg"/>
                                            </figure>
                                        </div>

                                        <label><%= @user.last_name %> <%= @user.first_name %></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>
