
<!-- Page Title Area -->
<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5">Default</h6>
        <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
    </div>

    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Default</li>
        </ol>
        <div class="d-none d-md-inline-flex justify-center align-items-center"><a href="javascript: void(0);" class="btn btn-color-scheme btn-sm fs-11 fw-400 mr-l-40 pd-lr-10 mr-l-0-rtl mr-r-40-rtl hidden-xs hidden-sm ripple" target="_blank">Buy Now</a>
        </div>
    </div>
</div>


<!-- =================================== -->
<!-- Different data widgets ============ -->
<!-- =================================== -->

<div class="widget-list row">

    <div class="widget-holder widget-full-height widget-flex col-md-6">
        <div class="widget-bg">
            <div class="widget-heading widget-heading-border">
                <h5 class="widget-title">To-Do Widget</h5>
                <div class="widget-actions"><a href="#" class="badge bg-info-contrast px-3 cursor-pointer heading-font-family">View Calendar</a>
                </div>
                <!-- /.widget-actions -->
            </div>
            <!-- /.widget-heading -->
            <div class="widget-body">
                <div class="widget-todo">
                    <div class="single media"><i class="single-icon feather feather-circle color-color-scheme"></i>
                        <div class="media-body">
                            <div class="text-muted heading-font-family fw-500">09:30 - 10:30</div>
                            <h6 class="single-title">Make an appointment with Doctor</h6>
                            <p class="fw-400 fs-13 mb-0 text-muted"><i class="feather feather-map-pin mr-2"></i> Dr. Schoeb's Spine Center</p>
                        </div>
                        <!-- /.media-body -->
                        <div class="dropdown align-self-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="feather feather-more-vertical"></i></a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="list-icon feather feather-check"></i> Done</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="list-icon feather feather-delete"></i> Delete</a>
                            </div>
                            <!-- /.dropdown-menu -->
                        </div>
                        <!-- /.dropdown -->
                    </div>
                    <!-- /.single -->
                    <div class="single media"><i class="single-icon feather feather-circle color-info"></i>
                        <div class="media-body">
                            <div class="text-muted heading-font-family fw-500">16:00 - 20:00</div>
                            <h6 class="single-title">Visit WordCamp 2017 Ontario</h6>
                            <p class="fw-400 fs-13 mb-0 text-muted"><i class="feather feather-map-pin mr-2"></i> Carleton University, Ontario</p>
                        </div>
                        <!-- /.media-body -->
                        <div class="user-avatar-list align-self-center mr-3"><a href="#" class="thumb-xxs more-link">+24</a> 
                            <a href="#" class="thumb-xxs">
                                <img src="assets/demo/users/user2.jpg" class="rounded-circle" alt="User 2">
                            </a>
                            <a href="#" class="thumb-xxs">
                                <img src="assets/demo/users/user3.jpg" class="rounded-circle" alt="User 3">
                            </a>
                            <a href="#" class="thumb-xxs">
                                <img src="assets/demo/users/user4.jpg" class="rounded-circle" alt="User 4">
                            </a>
                            <a href="#" class="thumb-xxs">
                                <img src="assets/demo/users/user5.jpg" class="rounded-circle" alt="User 5">
                            </a>
                        </div>
                        <!-- /.user-avatar-list -->
                        <div class="dropdown align-self-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="feather feather-more-vertical"></i></a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="list-icon feather feather-check"></i> Done</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="list-icon feather feather-delete"></i> Delete</a>
                            </div>
                            <!-- /.dropdown-menu -->
                        </div>
                        <!-- /.dropdown -->
                    </div>
                    <!-- /.single -->
                    <div class="single media"><i class="single-icon feather feather-circle color-success"></i>
                        <div class="media-body">
                            <div class="text-muted heading-font-family fw-500">16:00 - 20:00</div>
                            <h6 class="single-title">Skype call to Herbert Diaz</h6>
                            <ul class="single-tags list-unstyled list-inline">
                                <li><a href="#">skype</a>
                                </li>
                                <li><a href="#">business</a>
                                </li>
                                <li><a href="#">call</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.media-body -->
                        <div class="user-avatar-list align-self-center mr-3">
                            <a href="#" class="thumb-xxs">
                                <img src="assets/demo/users/user5.jpg" class="rounded-circle" alt="User 2">
                            </a>
                        </div>
                        <!-- /.user-avatar-list -->
                        <div class="dropdown align-self-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="feather feather-more-vertical"></i></a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="list-icon feather feather-check"></i> Done</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="list-icon feather feather-delete"></i> Delete</a>
                            </div>
                            <!-- /.dropdown-menu -->
                        </div>
                        <!-- /.dropdown -->
                    </div>
                    <!-- /.single -->
                    <div class="single media done"><i class="single-icon feather feather-check-circle color-warning"></i>
                        <div class="media-body">
                            <div class="text-muted heading-font-family fw-500">1 day ago</div>
                            <h6 class="single-title">Visit our boys in Battle Exhibition</h6>
                            <p class="fw-400 fs-13 mb-0 text-muted"><i class="feather feather-map-pin mr-2"></i> St. Mary's Museum, Ontario</p>
                        </div>
                        <!-- /.media-body -->
                        <div class="dropdown align-self-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="feather feather-more-vertical"></i></a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="list-icon feather feather-check"></i> Done</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="list-icon feather feather-delete"></i> Delete</a>
                            </div>
                            <!-- /.dropdown-menu -->
                        </div>
                        <!-- /.dropdown -->
                    </div>
                    <!-- /.single -->
                    <div class="single media done"><i class="single-icon feather feather-check-circle color-color-scheme"></i>
                        <div class="media-body">
                            <div class="text-muted heading-font-family fw-500">2 day ago</div>
                            <h6 class="single-title">Meeting with WordCamp Speakers</h6>
                            <p class="fw-400 fs-13 mb-0 text-muted"><i class="feather feather-map-pin mr-2"></i> Carleton University, Ontario</p>
                        </div>
                        <!-- /.media-body -->
                        <div class="dropdown align-self-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="feather feather-more-vertical"></i></a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="list-icon feather feather-check"></i> Done</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="list-icon feather feather-delete"></i> Delete</a>
                            </div>
                            <!-- /.dropdown-menu -->
                        </div>
                        <!-- /.dropdown -->
                    </div>
                    <!-- /.single --> <a href="#" class="add-btn btn btn-circle btn-md fs-20 btn-color-scheme"><i class="feather feather-plus"></i></a>
                </div>
                <!-- /.widget-todo -->
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>

    <!-- /.widget-holder -->
    <div class="widget-holder widget-full-height col-md-6">
        <div class="widget-bg">
            <div class="widget-heading widget-heading-border">
                <h5 class="widget-title">User Activities</h5>
                <div class="widget-actions"><a href="#" class="badge bg-info-contrast px-3 cursor-pointer heading-font-family">See all activities</a>
                </div>
                <!-- /.widget-actions -->
            </div>
            <!-- /.widget-heading -->
            <div class="widget-body">
                <div class="widget-user-activities">
                    <div class="single media">
                        <figure class="single-user-avatar user--online thumb-xs2">
                            <a href="#">
                                <img class="rounded-circle" src="assets/demo/users/user2.jpg">
                            </a>
                        </figure>
                        <div class="media-body">
                            <div class="single-header clearfix">
                                <div class="float-left"><a href="#" class="single-user-name">Gene Newman</a>  <small>Sep 16, via Tapatalk+</small>
                                </div>
                                <!-- /.float-left --> <a href="#" class="single-likes float-right"><i class="feather feather-thumbs-up"></i> <small>47 likes</small> </a>
                                <!-- /.float-right -->
                            </div>
                            <!-- /.clearfix --> <a href="#" class="single-attachment"><i class="feather feather-download-cloud single-attachment-icon"></i> <span class="single-attachment-filename">Vacation Plans for Ibiza</span> <span class="single-attachment-filesize">67 mb</span> </a>
                            <!-- /.single-attachment -->
                        </div>
                        <!-- /.media -->
                    </div>
                    <!-- /.single -->
                    <div class="single media">
                        <figure class="single-user-avatar user--online thumb-xs2">
                            <a href="#">
                                <img class="rounded-circle" src="assets/demo/users/user4.jpg">
                            </a>
                        </figure>
                        <div class="media-body">
                            <div class="single-header clearfix">
                                <div class="float-left"><a href="#" class="single-user-name">Sylvia Harvey</a>  <small>July 31</small>
                                </div>
                                <!-- /.float-left --> <a href="#" class="single-likes float-right"><i class="feather feather-thumbs-up"></i> <small>86 likes</small> </a>
                                <!-- /.float-right -->
                            </div>
                            <!-- /.clearfix -->
                            <p>Night fill together itself. Midst. Beginning. Behold living god had.</p>
                            <div class="single-gallery row">
                                <figure class="col-6">
                                    <a class="d-block" href="assets/demo/status-gallery-1.jpg">
                                        <img class="w-100" src="assets/demo/status-gallery-1-thumb.jpg">
                                    </a>
                                </figure>
                                <!-- /.col-6 -->
                                <figure class="col-6">
                                    <a class="d-block" href="assets/demo/status-gallery-2.jpg">
                                        <img class="w-100" src="assets/demo/status-gallery-2-thumb.jpg">
                                    </a>
                                </figure>
                                <!-- /.col-6 -->
                            </div>
                            <!-- /.single-gallery -->
                        </div>
                        <!-- /.media-body -->
                    </div>
                    <!-- /.single -->
                    <div class="single media">
                        <div class="single-event-icon bg-purple"><i class="feather feather-map"></i>
                        </div>
                        <!-- /.single-event-icon -->
                        <div class="media-body">
                            <div class="single-header clearfix">
                                <div class="float-left"><a href="#" class="single-user-name">World Camp Meetup</a>  <small><i class="feather feather-clock color-danger"></i> 6:30, July 31, Illionois</small>
                                </div>
                                <!-- /.float-left --> <a href="#" class="single-likes float-right"><i class="feather feather-thumbs-up"></i> <small>348 likes</small> </a>
                                <!-- /.float-right -->
                            </div>
                            <!-- /.single-header -->
                            <div class="single-users-list">
                                <a href="#">
                                    <img src="assets/demo/users/user6.jpg">
                                </a>
                                <a href="#">
                                    <img src="assets/demo/users/user5.jpg">
                                </a>
                                <a href="#">
                                    <img src="assets/demo/users/user4.jpg">
                                </a>
                                <a href="#">
                                    <img src="assets/demo/users/user3.jpg">
                                </a>
                                <a href="#">
                                    <img src="assets/demo/users/user2.jpg">
                                </a><a href="#" class="more">( ... )</a>
                            </div>
                            <!-- /.single-user-list -->
                        </div>
                        <!-- /.media-body -->
                    </div>
                    <!-- /.single -->
                </div>
                <!-- /.widget-user-activities -->
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
    <!-- /.widget-holder -->
</div>


