<div class="container-min-full-height d-flex justify-content-center align-items-center">
    <div class="login-center">
        <div class="navbar-header text-center mb-5">
            <a href="index.html">
                <img alt="" src="<%= static_path(@conn, "/images/logo-expand.png") %>">
            </a>
        </div>
        <!-- /.navbar-header -->
        <%=  if message = get_flash(@conn, :error) do %>
        <div class="alert alert-icon alert-danger border-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button> <i class="material-icons list-icon">not_interested</i>  <%= message %>
        </div>
        <% end %>
          <%= form_for @changeset, session_path(@conn, :create), [as: :login], fn f -> %>
            <div class="form-group">
                <label for="example-email"><%= gettext "Email" %></label>
                <%= text_input(f, :email, placeholder: "johndoe@site.com", class: "form-control form-control-line") %>
            </div>
            <div class="form-group">
                <label for="example-password">Password</label>
                <%= password_input(f, :password, placeholder: "your password", class: "form-control form-control-line") %>
           </div>
            <div class="form-group">
                <button class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600" type="submit"><%= gettext "Login" %></button>
            </div>
            <div class="form-group no-gutters mb-0">
                <div class="col-md-12 d-flex">
                    <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
                        <label class="d-flex">
                            <input type="checkbox"> <span class="label-text">Remember me</span>
                        </label>
                    </div><a href="javascript:void(0)" id="to-recover" class="my-auto pb-2 text-right"><i class="material-icons mr-2 fs-18">lock</i> Forgot Password?</a>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.form-group -->
        <% end  %>
        <!-- /.form-material -->
    </div>
    <!-- /.login-center -->
</div>
