<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>


  <%= input f, :name %>
  <%= input f, :status, using: :select2, source: Department.status_input_enum() %>

  
  <div class="form-group">
       <%= submit(class: "btn btn-primary") do %>
           <i class="material-icons mr-r-5">done</i>
           <%= gettext("Save") %>
       <% end %>
   </div>
<% end %>
