<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5"><%= gettext "Listing Departments" %></h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= department_path(@conn, :new) %>" class="btn btn-color-scheme btn-sm ripple">
							  <i class="feather feather-plus"></i>
                <%= gettext "Create Department" %>
            </a>
        </div>
    </div>
    <!-- /.page-title-right -->
</div>

<%= render_share_view("_alert.html", assigns) %>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border d-block">
                    <div class="pd-t-20 filter-bar d-flex">

                        <form class="d-flex">
                            <div class="form-group">
                                <label for=""><%= gettext "Name" %></label>
                                <input type="text" name="keyword" class="form-control" value="<%= @conn.params["keyword"] %>">
                            </div>
                            <div class="form-group">
                                <label for=""><%= gettext "Status" %></label>
                                <select class="form-control" name="status">
                                    <%= render_options(Department.status_input_enum(), @conn.params["status"]) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit"><%= gettext "Filter" %></button>
                            </div>
                        </form>

                        <!-- /.mail-inbox-tools -->
                        <div class="flex-1"></div>
                        <div class="text-right form-group">
                            
                        </div>
                    </div>
                </div>
                <div class="widget-body clearfix">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
																      <th><%= gettext "Name" %></th>
																      <th><%= gettext "Manager" %></th>
																      <th><%= gettext "Number of staff" %></th>
																      <th><%= gettext "Status" %></th>
																<th></th>
                            </tr>
                        </thead>
                        <tbody>
													<%= for department <- @departments do %>
													    <tr>
																  <td>
                                      <%= department.id %>
                                  </td>
																  <td>
                                      <a href="<%= department_path(@conn, :show, department) %>" class="font-weight-bold"><%= department.name %></a>
                                  </td>
																<td><%=  %></td>
																<td><%= 0 %></td>
																<td><%= status_text department.status %></td>
                                <td class="text-right">
                                    <%= render_share_view("_actions.html", assigns, path: &department_path/3, item: department, exclude: [:show, :delete]) %>
                                    <%= if department.status == Department.status_active do %>
                                        <%= link gettext("Block"), to: department_path(@conn, :block, department), method: :put, data: [confirm: gettext("Are you sure?")], class: "btn btn-danger btn-xs" %>
                                    <% else %>
                                        <%= link gettext("Unblock"), to: department_path(@conn, :unblock, department), method: :put, data: [confirm: gettext("Are you sure?")], class: "btn btn-info btn-xs" %>
                                    <% end %>
                                </td>
													    </tr>
													<% end %>
                        </tbody>
                    </table>

                    <hr/>
                    <%= render_share_view("_pagination.html", assigns) %>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>
