<div class="row page-title clearfix">
    <!-- /.page-title-left -->
    <div class="page-title-left">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= department_path(@conn, :index) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-chevron-left"></i>
                <%= gettext "Back" %>
            </a>
        </div>
    </div>
    <!-- /.page-title-right -->
</div>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-md-6 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border">
                    <h5 class="widget-title"><%= gettext "Create new Department" %></h5>
                </div>

                <div class="widget-body clearfix">
                    <%= render "form.html", Map.put(assigns, :action, department_path(@conn, :create)) %>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>
