<div class="row page-title clearfix">

    <div class="page-title-left">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= department_path(@conn, :index) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-chevron-left"></i>
                <%= gettext "Back" %>
            </a>
        </div>
    </div>


    <div class="page-title-right">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= department_path(@conn, :new) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-plus"></i>
                <%= gettext "Create Department" %>
            </a>
        </div>
    </div>

</div>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-md-8 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border">
                    <h5 class="widget-title"><%= gettext "Department info" %></h5>
                    <div class="flex-1"></div>
                    <div class="text-right"><a href="<%= department_path(@conn, :edit, @department) %>" class="btn btn-xs btn-outline-secondary"> <i class="material-icons mr-1">mode_edit</i> <%= gettext "Edit" %></a>
                    </div>
                </div>

                <div class="widget-body clearfix">
                    <div class="contact-details-profile">

                        <div class="contact-details-cell">
                            <small class="heading-font-family fw-500"><%= gettext("Name") %></small>
                            <span><%= @department.name %></span>
                        </div>

                        <div class="contact-details-cell">
                            <small class="heading-font-family fw-500"><%= gettext("Status") %></small>
                            <span><%= status_badge @department.status %></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>

</div>
<!-- /.row -->
</div>
