<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <div class="row">
      <div class="col-md-6">
          <%= input f, :name, label: gettext("Company name")%>
          <%= input f, :identifier, label: gettext("Company identifier") %>
          <%= input f, :phone, label: gettext("Contact phone") %>
          <%= input f, :emai, label: gettext("Contact email") %>
          <%= input f, :contact, label: gettext("Contact person"), using: :textarea, rows: 3 %>
          <%= input f, :website, label: gettext("Website") %>
          <%= input f, :status, using: :select2, source: Enum.map(Flow.Organization.Company.status_enum, &{humanize(&1), &1}) %>
      </div>
      <div class="col-md-6">
          <div class="mr-l-20">
              <label><%= gettext "Avatar" %></label>
              <div>
                  <figure class="thumb-lg">
                      <img src="http://localhost:4001/images/user1.jpg"/>
                  </figure>
              </div>
              <label for="company_logo" class="btn btn-sm btn-outline-default mr-t-20"><%= gettext "Change logo" %></label>
              <%= input f, :logo, using: :file_input, label: false, class: "d-none" %>
          </div>
      </div>
  </div>

  <div class="form-group">
       <%= submit(class: "btn btn-primary") do %>
           <i class="material-icons mr-r-5">done</i>
           <%= gettext("Save") %>
       <% end %>
   </div>
<% end %>
