<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5"><%= gettext "Listing Companies" %></h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= company_path(@conn, :new) %>" class="btn btn-color-scheme btn-sm ripple">
							  <i class="feather feather-plus"></i>
                <%= gettext "Create Company" %>
            </a>
        </div>
    </div>
    <!-- /.page-title-right -->
</div>

<%= render_share_view("_alert.html", assigns) %>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder" id="main-view">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border d-block">
                    <div class="pd-t-20 filter-bar d-flex">

                        <form class="d-flex">
                            <div class="form-group">
                                <label for=""><%= gettext "Name/identifier" %></label>
                                <input type="text" name="keyword" class="form-control" value="<%= @conn.params["keyword"] %>">
                            </div>
                            <div class="form-group">
                                <label for=""><%= gettext "Status" %></label>
                                <select class="form-control" name="status">
                                   <%= render_options(Company.status_input_enum(), @conn.params["status"]) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit"><%= gettext "Filter" %></button>
                            </div>
                        </form>

                        <!-- /.mail-inbox-tools -->
                        <div class="flex-1"></div>
                        <div class="text-right form-group"><a href="#" class="btn btn-outline-primary"><%= gettext "Create Company" %></a>
                        </div>
                    </div>
                </div>
                <div class="widget-body clearfix">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><%= gettext "Logo" %></th>
																<th><%= gettext "Name" %></th>
																<th><%= gettext "Contact" %></th>
																<th><%= gettext "Supported by" %></th>
																<th><%= gettext "Status" %></th>
																<th></th>
                            </tr>
                        </thead>
                        <tbody>
													  <%= for company <- @companies do %>
													      <tr>
																    <td><%= company.id %></td>
                                    <td class="thumb-md"><img src="<%= company.logo %>" /></td>
																    <td>
                                        <a href="<%= company_path(@conn, :show, company) %>" class="fw-bold"><%= company.name %></a>
                                        <div class="text-muted">@<%= company.identifier %></div>
                                    </td>
																    <td>
                                        <i class="feather feather-mail mr-2"></i> <%= company.email %><br/>
                                        <i class="feather feather-phone mr-2"></i> <%= company.phone %><br/>
                                        <i class="feather feather-home mr-2"></i> <a href="<%= company.website %>" target="_blank"><%= company.website %></a>
                                    </td>
																    <td>
                                        <%= if not is_nil(company.supported_by_id) do %>
                                            <a href="<%= user_path(@conn, :show, company.supported_by) %>"><%= full_name(company.supported_by) %></a>
                                        <% else %>
                                            <span class="text-muted"><%= gettext "Not assigned" %></span>
                                        <% end %>

                                    </td>
																    <td><%= status_text company.status %></td>
                                    <td class="text-right">
                                        <%= render_share_view("_actions.html", assigns, path: &company_path/3, item: company, exclude: [:show, :delete]) %>

                                        <div class="dropdown d-inline-block">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-sm btn-link dropdown-toggle">
                                                <i class="feather feather-more-vertical text-muted fs-18 mr-2"></i> <%= gettext "More" %>
                                            </a>

                                            <div role="menu" class="dropdown-menu" x-placement="top-start" >
                                                <%= if company.status == Company.status_active do %>
                                                    <%= link gettext("Change to inactive"), to: company_path(@conn, :block, company), method: :put, data: [confirm: gettext("Are you sure?")], class: "dropdown-item" %>
                                                <% else %>
                                                    <%= link gettext("Change to active"), to: company_path(@conn, :unblock, company), method: :put, class: "dropdown-item" %>
                                                <% end %>
                                                <a href="#"  class="dropdown-item"><%= gettext "Unassign" %></a>
                                                <a href="#" data-company-id="<%= company.id %>" class="dropdown-item js-assign"><%= gettext "Assign" %></a>
                                                <%= if not is_nil(company.supported_by_id) do %>
                                                    <%= link gettext("Unassign"), to: company_path(@conn, :unassign_supporter, company), method: :put, class: "dropdown-item", data: [confirm: gettext("Are you sure?")] %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </td>
													      </tr>
													  <% end %>
                        </tbody>
                    </table>

                    <hr/>
                    <%= render_share_view("_pagination.html", assigns) %>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>

    </div>
    <!-- /.row -->
</div>

<div id="assign-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-body">
                <div class="text-center my-3">
                    <h5><%= gettext "Assign supporter" %></h5>
                </div>

                <div class="d-flex">
                    <div class="thumb-sm"><img class="v-company-logo" src="https://hexdocs.pm/ecto/assets/logo.png" /></div>
										<div class="flex-1 mr-l-20">
                        <h5 class="font-weight-bold color-primary v-company-name">A company</h5>
                        <div class="text-muted v-company-identifier">@identifier</div>
                    </div>
                </div>

                <div class="mr-t-20">
                    <label><%= gettext "Current assignee" %></label>: <span class="font-weight-bold v-supporter-name"> <%= gettext "Open" %></span>
                </div>
                <form method="post" action="<%= company_path(@conn, :assign_supporter) %>">
                    <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token()%>">
                    <input type="hidden" class="v-company-id" name="id" value="">
                    <div class="form-group mr-b-10">
                        <label ><%= gettext "Assign to" %></label>
                        <select class="form-control" data-toggle="select2" name="user_id">
                            <%=  for staff <- @staffs do %>
                                <option value="<%= staff.id %>"><%= full_name(staff) %></option>
                            <% end %>
                        </select>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-rounded btn-color-scheme ripple" type="submit"><%= gettext "Assign" %></button>
                        <button class="btn btn-rounded ripple" data-dismiss="modal" type="button"><%= gettext "Cancel" %></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
