<div class="row page-title clearfix">

    <div class="page-title-left">
        <div class="d-none d-md-inline-flex justify-center align-items-center">
            <a href="<%= page_path(@conn, :index) %>" class="btn btn-color-scheme btn-sm ripple">
                <i class="feather feather-chevron-left"></i>
                <%= gettext "Back" %>
            </a>
        </div>
    </div>


    <div class="page-title-right">
        <div class="d-none d-md-inline-flex justify-center align-items-center">

        </div>
    </div>

</div>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <div class="col-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading widget-heading-border">
                    <h5 class="widget-title"><%= gettext "Company Details" %></h5>
                    <div class="flex-1"></div>
                    <div class="text-right"><a href="<%= company_path(@conn, :edit) %>" class="btn btn-xs btn-outline-secondary"> <i class="material-icons mr-1">mode_edit</i> <%= gettext "Edit" %></a>
                    </div>
                </div>

                <div class="widget-body clearfix">
                    <div class="contact-details-profile">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-500"><%= gettext("Company name") %></small>
                                    <span><%= @company.name %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-500"><%= gettext("Company identifier") %></small>
                                    <span><%= @company.identifier %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-500"><%= gettext("Contact email") %></small>
                                    <span><%= @company.email %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-500"><%= gettext("Contact phone") %></small>
                                    <span><%= @company.phone %></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-500"><%= gettext("Website") %></small>
                                    <span><a href="<%= @company.website %>" target="_blank"> <%= @company.website %> </a></span>
                                </div>

                                <div class="contact-details-cell">
                                    <small class="heading-font-family fw-500"><%= gettext("Status") %></small>
                                    <span><%= status_badge @company.status %></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mr-l-20">
                                    <div>
                                        <figure class="thumb-lg">
                                            <img alt="<%= @company.name %>" src="http://localhost:4001/images/user1.jpg"/>
                                        </figure>
                                    </div>

                                    <label><%= @company.name %></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>

</div>
<!-- /.row -->
